@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'daisyui' {
  themes: all;
}

:root {
  font-family: 'Geist', ui-sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .prose {
    line-height: 1.45;
  }
  .validator-hint {
    display: none;
  }
  .validator {
    &:user-invalid,
    &:has(:user-invalid),
    &[aria-invalid]:not([aria-invalid='false']) {
      display: block;
    }
  }
}

.ProseMirror p.is-editor-empty:first-child::before {
  @apply text-base-content opacity-40;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror-selectednode {
  @apply outline-info outline-3;
}

div[aria-expanded='true'] > div[data-tippy-root=''] {
  inset: 0px auto auto 232px;
}

pre.hljs {
  font-size: 0.95em !important;
  font-family: 'Geist Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

code {
  font-family: 'Geist Mono', monospace;
}

#post-content > div.prose.max-w-none.items-start a {
  @apply text-accent;
}

[data-theme='abyss'] #post-content > div.prose.max-w-none.items-start a,
[data-theme='luxury'] #post-content > div.prose.max-w-none.items-start a {
  @apply text-primary;
}

[data-theme='cupcake'] #post-content > div.prose.max-w-none.items-start a {
  @apply text-info;
}
